.DS_Store

# Shell scripts
*.lsf
*.sh

.idea
.vscode
*.code*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# Data and models
data/pocus_videos/convex/*_Butterfly*
pocovidnet/models
data/butterfly/
data/ICLUS
data/pathologies*
*.xlsx
*.zip
data/cross_validation*
data/image_dataset/
data/tmp_images/
pocovidnet/notebooks/*.dat

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# include all data without license
data/pocus_images/convex/Cov_blines_thoraric_paperfig1.png
data/pocus_images/convex/Cov_blines_thoraric_paperfig2.png
data/pocus_images/convex/Cov_blines_thoraric_paperfig3.png
data/pocus_images/convex/Cov_efsumb1.png
data/pocus_images/convex/Cov_efsumb1_2.png
data/pocus_images/convex/Cov_efsumb3.png
data/pocus_images/convex/Cov_pleuraleffusion_thoraric_paperfig9.png
data/pocus_images/convex/Cov_pleuralthickening_thoraric_paperfig8.png
data/pocus_images/convex/Cov_pregnantPublication1.png
data/pocus_images/convex/Cov_pregnantPublication2.png
data/pocus_images/convex/Cov_siemens_1.png
data/pocus_images/convex/Cov_siemens_2.png
data/pocus_images/convex/Cov_subpleuralthickening_thoraric_paperfig6.png
data/pocus_images/convex/Cov_whitelungs_thoraric_paperfig5.png
data/pocus_images/convex/Pneu_Reissig_2012_fig2A.jpg
data/pocus_images/convex/Pneu_Reissig_2012_fig2B.jpg
data/pocus_images/convex/Pneu_clarius.jpg
data/pocus_images/convex/Pneu_clarius2.png
data/pocus_images/convex/Pneu_sonographiebilder1.jpg
data/pocus_images/convex/Pneu_sonographiebilder2.jpg
data/pocus_images/convex/Reg_Chen_2020_3A.png
data/pocus_images/convex/Reg_Chen_2020_6A.png
data/pocus_images/convex/Reg_efsumb2.png
data/pocus_images/convex/Reg_publication1.png
data/pocus_images/linear/Cov_siemens_3.png
data/pocus_images/linear/Pneu_consol_pedriatic_pneumonia.png
data/pocus_images/linear/Pneu_leftbasal_pedriatic_pneumonia.png
data/pocus_videos/convex/Cov-clarius.mp4
data/pocus_videos/convex/Cov-clarius3.mp4
data/pocus_videos/convex/Cov-grep-7453.mp4
data/pocus_videos/convex/Cov-grep-7505.mp4
data/pocus_videos/convex/Cov-grep-7507.mp4
data/pocus_videos/convex/Cov-grep-7510.mp4
data/pocus_videos/convex/Cov-grep-7511.mp4
data/pocus_videos/convex/Cov-grep-7525.mp4
data/pocus_videos/convex/Cov-grep-7543.mp4
data/pocus_videos/convex/Cov-grepmed-blines-pocus-.mp4
data/pocus_videos/convex/Cov-grepmed2.mp4
data/pocus_videos/convex/Cov_new_pregnant_vid1.mp4
data/pocus_videos/convex/Cov_new_pregnant_vid2.mp4
data/pocus_videos/convex/Cov_new_pregnant_vid3.mp4
data/pocus_videos/convex/Cov_new_pregnant_vid4.mp4
data/pocus_videos/convex/Cov_new_pregnant_vid5.mp4
data/pocus_videos/convex/Cov_new_pregnant_vid6.mp4
data/pocus_videos/convex/Cov_new_pregnant_vid7.mp4
data/pocus_videos/convex/Cov_new_pregnant_vid8.mp4
data/pocus_videos/convex/Pneu-grep-bacterial-hepatization-clinical.mp4
data/pocus_videos/convex/Pneu-grep-pneumonia1.mp4
data/pocus_videos/convex/Pneu-grep-pneumonia2_1.mp4
data/pocus_videos/convex/Pneu-grep-pneumonia3.mp4
data/pocus_videos/convex/Pneu-grep-pneumonia4.mp4
data/pocus_videos/convex/Pneu-grep-pulmonary-pneumonia.mp4
data/pocus_videos/convex/Pneu-grep-shredsign-consolidation.mp4
data/pocus_videos/convex/Pneu_AIR BRONC2.mp4
data/pocus_videos/convex/Pneu_Youtube_case.mp4
data/pocus_videos/convex/Pneu_clinicalreview_MOV4.mp4
data/pocus_videos/convex/Pneu_consol_advancesVid10.mp4
data/pocus_videos/convex/Reg-Grep-Alines.mp4
data/pocus_videos/convex/Reg-Grep-Normal.mp4
data/pocus_videos/convex/Reg-Youtube.mp4
data/pocus_videos/convex/Reg-bcpocus.mp4
data/pocus_videos/convex/Reg_Alines-1-90.mp4
data/pocus_videos/convex/Reg_alines_advancesVid4.mp4
data/pocus_videos/convex/Reg_clinicalreview_mov1.mp4
data/pocus_videos/convex/Vir_blines_advancesVid9.mp4
data/pocus_videos/convex/pneu-everyday.mp4
data/pocus_videos/convex/pneu-gred-6.mp4
data/pocus_videos/convex/pneu-gred-7.mp4
data/pocus_videos/linear/Cov-grep-7431.mp4
data/pocus_videos/linear/Cov-grep-7432.mp4
data/pocus_videos/linear/Cov-grep-7500.mp4
data/pocus_videos/linear/Cov_linear_abrams_2020_v1.mp4
data/pocus_videos/linear/Pneu-Youtube-start20sec.mp4
data/pocus_videos/linear/Reg-Youtube-Video_902_Lung_POCUS-left.mp4
data/pocus_videos/linear/Reg-Youtube-start20sec.mp4
data/pocus_videos/linear/Reg-grep-normal-alines-original.mp4
data/pocus_videos/linear/Reg-minimalmovement.mp4
data/pocus_videos/linear/Reg-nephropocus.mp4
data/pocus_images/convex/Cov_ablines_covidmanifestations_paper1.png
data/pocus_images/convex/Cov_blines_covidmanifestation_paper2.png
data/pocus_images/convex/Cov_wfumb_case_dez_a.jpg
data/pocus_images/convex/Cov_wfumb_case_dez_b.jpg
data/pocus_images/convex/Cov_wfumb_case_dez_c.jpg
data/pocus_images/convex/Pneu_air_bronchogram_com_acquired_paper.png
data/pocus_images/convex/Reg_com_acquired_paper.png
data/pocus_images/linear/Cov_irregularpleural_covidmanifestations_paper3.png
data/pocus_videos/convex/Cov_Arnthfield_2020_Vid3.mp4
data/pocus_videos/convex/Cov_wfumb_case_dez.mp4
data/pocus_videos/convex/Reg-nephropocus.mp4
data/pocus_videos/linear/Reg-NormalLung.mp4