$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$white: #fff;
$light-white: rgb(243, 243, 243);
$dark: rgb(17, 17, 17);
$light-dark: rgb(22, 22, 22);
$primary: rgb(104, 184, 192);
$light-primary: #ECF8F8;
$light-dark-primary: #161616;
$dark-gray: #777777;
$primary-light: rgb(238, 248, 248);
$secondary: rgb(100, 72, 150);
$opac-white: rgba(255, 255, 255, .69);

$border-radius-base: 7px;
