$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// fonts
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

$white: #fff;
$light-white: rgb(243, 243, 243);
$dark: rgb(17, 17, 17);
$light-dark: rgb(22, 22, 22);
$primary: #47BAC2;
$light-primary: #ECF8F8;
$light-dark-primary: #161616;
$dark-gray: #777777;
$primary-light: rgb(238, 248, 248);
$secondary: rgb(100, 72, 150);
$opac-white: rgba(255, 255, 255, .69);
$input-bg-dark: #2d2d2d;
$result-bg-green-light: #F2F8EE;
$result-bg-orange-light: #FFF7F1;
$result-bg-red-light: #FDF2F2;
$result-bg-green-dark: #181D16;
$result-bg-orange-dark: #1D1916;
$result-bg-red-dark: #1C1515;
$result-color-green-light: #4CAA13;
$result-color-orange-light: #FA9947;
$result-color-red-light: #EF5F5F;
$result-color-green-dark: #A8FF73;
$result-color-orange-dark: #FFB373;
$result-color-red-dark: #EF5F5F;

$result-spacer-light: #DCDDDC;
$result-spacer-dark: #444444;

$border-radius-base: 7px;
