/node_modules
/public/hot
/public/storage
/storage/*.key
/public/images/icons/.DS_Store
/public/js/app.js
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
