@import "../variables";

button,
.button {
    padding: 0.5rem 1.2rem;
    background-color: transparent;
    color: var(--main-color);
    border: none;
    transition: background-color .25s ease, opacity .25s ease;
    white-space: nowrap;

    &:hover,
    &:focus,
    &.active {
        text-decoration: none;
        color: var(--main-color);
    }

    &.simple {
        opacity: .9;
        padding-right: 0;
        padding-left: 0;

        &:hover,
        &:focus,
        &.active {
            opacity: 1;
        }
    }

    &.round {
        border-radius: 4rem;
    }

    &.primary {
        background-color: var(--primary);
        color: #fff;

        &:not(:disabled) {
            &:hover,
            &:focus,
            &.active {
                background-color: darken($primary, 10%);
                color: darken(#fff, 5%);
            }
        }
    }

    &.secondary {
        background-color: var(--secondary);
        color: #fff;

        &:not(:disabled) {
            &:hover,
            &:focus,
            &.active {
                background-color: darken($secondary, 10%);
                color: darken(#fff, 5%);
            }
        }
    }

    &:disabled {
        opacity: .8;
        &:hover {
            cursor: not-allowed;
        }
    }
}
