.custom-dropzone {
    background: var(--light-primary);
    border-radius: var(--border-radius-base);
    padding: 2rem;
    transform: translateY(-50%);
    margin-bottom: -100px;
    border: dashed 2px #47BAC2;
    position: relative;
}
