.team-member {
    img {
        border-radius: var(--border-radius-base);
    }

    h3 {
        text-transform: uppercase;
        margin-top: 1.6rem;
        margin-bottom: .25rem;
    }

    p {
        line-height: 1.4rem;
    }
}

