.call-to-action {
  transform: translateY(-50%);
  border-radius: var(--border-radius-base);
  color: #fff;
  transition: transform .25s ease;

  &:hover,
  &:focus,
  &.active {
    text-decoration: none;
    color: #fff;
    transform: translateY(-52%);

    .call-to-action-link::after {
      animation-name: left-to-right;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }

  &.primary {
    background-color: var(--primary);
  }

  &.secondary {
    background-color: var(--secondary);
  }
}

.call-to-action-link {
  font-weight: bold;
  position: relative;
  display: inline-block;

  &::after {
    content: '>';
    position: absolute;
    right: -25px;
    transition: transform .25s ease;
  }
}

@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
