$white: #fff;
$light-white: rgb(243, 243, 243);
$dark: rgb(17, 17, 17);
$light-dark: rgb(22, 22, 22);
$primary: rgb(104, 184, 192);
$primary-light: rgb(238, 248, 248);
$secondary: rgb(100, 72, 150);

$border-radius-base: 7px;
